layout {
    focus-ring {
        active-color "#685caa"
    }

    border {
        active-color "#685caa"
        inactive-color "#5b5b70"
        urgent-color "#514baa"
    }

    shadow {
        color "rgba(13,12,28,1.0)"
    }
}

